@model IEnumerable<MvcApp.Controllers.SampleViewModel>
@{
    
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul class="list-group">
    @foreach(var item in Model)
    {
        <li class="list-group-item">
            <span> MyId : </span>@item.SampleId<br />
            <span> MyName : </span>@item.SampleName<br />

        </li>
    }
</ul>
<table class="table table-striped" >
    <thead>
        <tr>
            <th> SampleId</th>
            <th>SampleName</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.SampleId
                </td>
                <td>@item.SampleName</td>

            </tr>
        }
    </tbody>
</table>
